CONFIG_SPL_BIN_FILE=riscv1/soc_g32s10x/spl/W958D6N/g32s10-spl-sfcnand-840M-250M-uart0-without-L2CACHE.bin
# CONFIG_COMPRESS_RTOS_BIN is not set
CROSS=riscv32-unknown-elf-
CONFIG_OS_MEM_ADDR=0x80000000
CONFIG_OS_MEM_SIZE=33554432
CONFIG_OS_EXCEPTION_SECTION_SIZE=1024
CONFIG_OS_MAIN_STACK_SIZE=16384
CONFIG_OS_EXCEPTION_STACK_SIZE=2048
# CONFIG_JTAG_DEBUG is not set
CONFIG_SHOW_COMPILE_TIME=y
# CONFIG_KERNEL_WAIT_RTOS_STOP is not set
# CONFIG_OS_HAS_CPP_SUPPORT is not set
CONFIG_OS_GCC_OPTIMIZATION=-Os
# CONFIG_OS_GCC_IGNORE_DIV_ZERO_EXCEPTION is not set
# CONFIG_FPU_ALWAYS_ON is not set
# CONFIG_SIMD_SUPPORT is not set
# CONFIG_SIMD_ALWAYS_ON is not set
# CONFIG_ENABLE_NESTED_IRQ is not set
# CONFIG_TCSM_SECTION is not set
# CONFIG_RUN_ON_FPGA is not set
# CONFIG_MIPS32 is not set
# CONFIG_XBURST is not set
# CONFIG_XBURST2 is not set
CONFIG_RISCV1=y
CONFIG_RISCV1_G32S10X=y
CONFIG_SOC_G32S10X_S:=y
CONFIG_SOC_G32S10X:=y
CONFIG_SOC_G32S10X_G32S10X:=y
CONFIG_G32S10X_UART=y
CONFIG_G32S10X_UART0=y
CONFIG_G32S10X_UART0_RX=GPIO_PD(9),GPIO_FUNC_0
CONFIG_G32S10X_UART0_TX=GPIO_PD(8),GPIO_FUNC_0
CONFIG_G32S10X_UART0_CTS=-1
CONFIG_G32S10X_UART0_RTS=-1
# CONFIG_G32S10X_UART1 is not set
# CONFIG_G32S10X_UART2 is not set
# CONFIG_G32S10X_UART3 is not set
# CONFIG_G32S10X_UART4 is not set
# CONFIG_G32S10X_UART5 is not set
# CONFIG_G32S10X_UART6 is not set
# CONFIG_G32S10X_UART7 is not set
# CONFIG_G32S10X_SPI is not set
# CONFIG_G32S10X_TNPU is not set
# CONFIG_G32S10X_I2C is not set
# CONFIG_G32S10X_PWM is not set
# CONFIG_G32S10X_TCU is not set
# CONFIG_G32S10X_ADC is not set
# CONFIG_G32S10X_MAC is not set
# CONFIG_G32S10X_ROTATOR is not set
CONFIG_G32S10X_DTRNG=y
# CONFIG_G32S10X_HASH is not set
# CONFIG_G32S10X_RSA is not set
# CONFIG_G32S10X_MSC0_BUS is not set
CONFIG_G32S10X_MSC1_BUS=y
# CONFIG_G32S10X_MSC1_PB_4BIT is not set
CONFIG_G32S10X_MSC1_PC_4BIT=y
CONFIG_G32S10X_MSC1_MAX_FREQ=50000000
# CONFIG_G32S10X_SSLV is not set
# CONFIG_G32S10X_AIC is not set
# CONFIG_G32S10X_ICODEC is not set
# CONFIG_G32S10X_BUS_MONITOR is not set
# CONFIG_G32S10X_CAMERA is not set
# CONFIG_G32S10X_LCD is not set
# CONFIG_G32S10X_JPEG is not set
# CONFIG_G32S10X_MSCALER is not set
# CONFIG_G32S10X_IPU is not set
# CONFIG_G32S10X_CAN is not set
# CONFIG_G32S10X_RTC is not set
# CONFIG_G32S10X_WDT is not set
# CONFIG_G32S10X_TPC is not set
# CONFIG_G32S10X_AES is not set
# CONFIG_G32S10X_EFUSE is not set
# CONFIG_G32S10X_RISCV is not set
# CONFIG_USB_FIFO_1808 is not set
CONFIG_TO_BE_CHANGE=y
CONFIG_EXTAL_CLOCK=24000000
CONFIG_RISCV1_CACHE=y
CONFIG_RISCV1_GPIO=y
CONFIG_RISCV1_IRQ=y
CONFIG_RISCV1_DMA=y
CONFIG_RISCV1_CLK=y
CONFIG_RISCV1_SYSTICK=y
CONFIG_RISCV1_FPU=y
CONFIG_RISCV1_AIE_VECTOR_BITS=128
CONFIG_RISCV1_AIE_VECTOR=y
CONFIG_LIB=y
CONFIG_LIB_ASSERT=y
# CONFIG_ASSERT_WITH_NO_FILENAME is not set
CONFIG_LIB_DEALY=y
# CONFIG_LIB_RTC is not set
# CONFIG_LIB_STRING is not set
CONFIG_LIB_DUMP_MEM=y
CONFIG_LIB_XFORMAT:=y
CONFIG_LIB_XFORMAT_PRINTF=y
# CONFIG_LIB_RING_BUFFER is not set
CONFIG_DUMP_STACK=y
# CONFIG_LIB_SORT is not set
# CONFIG_IMG_CONVERT is not set
# CONFIG_RING_MEM is not set
# CONFIG_LIB_NALU is not set
# CONFIG_UBOOT_LIB is not set
CONFIG_LIB_CRC32:=y
# CONFIG_LIB_NV12_ROTATE is not set
# CONFIG_LIB_VAD is not set
# CONFIG_LIB_CFG is not set
# CONFIG_LIB_TIME_STATS is not set
# CONFIG_LIB_MEM_MGMT is not set
CONFIG_DRIVERS=y
CONFIG_IRQ=y
CONFIG_CACHE:=y
# CONFIG_SPINLOCK is not set
CONFIG_CLK:=y
CONFIG_SYSTICK:=y
CONFIG_GPIO:=y
# CONFIG_REGULATOR is not set
CONFIG_UART:=y
# CONFIG_PM is not set
# CONFIG_ROTATOR is not set
# CONFIG_FB is not set
CONFIG_DMA:=y
# CONFIG_SPI is not set
# CONFIG_TNPU is not set
# CONFIG_SSLV is not set
# CONFIG_I2C is not set
CONFIG_MMC:=y
# CONFIG_RAMDISK is not set
# CONFIG_PCM is not set
# CONFIG_ADC is not set
# CONFIG_ADC_ADVANCE is not set
# CONFIG_TPC is not set
# CONFIG_AES is not set
# CONFIG_SECURITY_AES is not set
# CONFIG_PWM is not set
# CONFIG_EFUSE is not set
# CONFIG_EFUSE_MODE_HAMMING is not set
# CONFIG_EFUSE_MODE_NONE is not set
# CONFIG_WDT is not set
# CONFIG_WDT_MONITOR is not set
# CONFIG_RTC is not set
CONFIG_DTRNG:=y
# CONFIG_HASH is not set
# CONFIG_RSA is not set
# CONFIG_BUS_MONITOR is not set
# CONFIG_DES is not set
# CONFIG_MAC is not set
# CONFIG_CAN is not set
# CONFIG_TCU is not set
# CONFIG_IPU is not set
# CONFIG_CAMERA is not set
# CONFIG_CIM_AE is not set
# CONFIG_JPEG is not set
# CONFIG_ISP is not set
# CONFIG_BACKLIGHT is not set
# CONFIG_MCU is not set
# CONFIG_MSCALER is not set
# CONFIG_CONN is not set
# CONFIG_SCBOOT is not set
# CONFIG_INPUT is not set
CONFIG_HRTIMER=y
# CONFIG_LCD_GPIO is not set
# CONFIG_GPIO_SPI is not set
# CONFIG_GPIO_I2C is not set
# CONFIG_USB_DRIVER is not set
# CONFIG_MOTOR_ALG is not set
# CONFIG_STEP_MOTOR is not set
# CONFIG_SFC is not set
# CONFIG_RTOS_OTA_UPDATE is not set
# CONFIG_RTOS_LOCAL_UPDATE is not set
CONFIG_CONSOLE=y
CONFIG_CONSOLE_USE_UART=y
CONFIG_UART_CONSOLE:=y
CONFIG_UART_CONSOLE_UART_ID=0
CONFIG_UART_CONSOLE_BAUD_RATE=115200
# CONFIG_UART_CONSOLE_RX_MODE_POLL is not set
CONFIG_GPIO_PIN=y
# CONFIG_DMACPY is not set
CONFIG_DEVICES=y
# CONFIG_X1000_SLCD_ST7789V is not set
# CONFIG_X1000_SLCD_TRULY240240 is not set
# CONFIG_X1830_TFT_ST7701 is not set
# CONFIG_X1830_SLCD_KWH035 is not set
# CONFIG_X1830_SLCD_ST7789 is not set
# CONFIG_X1021_SLCD_KWH035 is not set
# CONFIG_X2000_MIPI_KD070D57 is not set
# CONFIG_X2000_SLCD_KWH035 is not set
# CONFIG_X2000_MIPI_FW050 is not set
# CONFIG_X2000_SLCD_JD9851 is not set
# CONFIG_X2000_MIPI_OTM8018B is not set
# CONFIG_X2000_TFT_ST7789V2 is not set
# CONFIG_X1600_SLCD_KWH035 is not set
# CONFIG_X1600_TFT_ST7701 is not set
# CONFIG_X1600_SLCD_ST7789V_4LINE_SPI is not set
# CONFIG_X1600_TFT_ST77903_8BIT is not set
# CONFIG_X2600_MIPI_FW050 is not set
# CONFIG_X2600_LVDS_KX070 is not set
# CONFIG_X2600_LVDS_QM101 is not set
# CONFIG_X2600_SLCD_ST7789V_4LINE_SPI is not set
# CONFIG_X2600_SLCD_ST7789V_3LINE_SPI is not set
# CONFIG_X2600_MIPI_YC101 is not set
# CONFIG_X2600_MIPI_ILI9881C_FW101 is not set
# CONFIG_X2600_MIPI_GM8775C is not set
# CONFIG_X2600_TFT_SAT101 is not set
# CONFIG_X2600_TFT_NV3047_EP4303 is not set
# CONFIG_X2600_MIPI_TFT050_V30A05T is not set
# CONFIG_G32S10X_SLCD_KWH035 is not set
# CONFIG_G32S10X_TFT_JD9165 is not set
# CONFIG_G32S10X_MIPI_JD9165BA is not set
# CONFIG_G32S10X_MIPI_FW050 is not set
# CONFIG_G32S10X_MIPI_MTF070 is not set
# CONFIG_G32S10X_MIPI_TFT050_V30A05T is not set
# CONFIG_T32_SLCD_KWH035 is not set
# CONFIG_AD100_MIPI_B203A is not set
# CONFIG_AD100_MIPI_FW050 is not set
# CONFIG_AD100_MIPI_ILI9881C_FW101 is not set
# CONFIG_AD100_MIPI_HJ050 is not set
# CONFIG_AD100_MIPI_YC101 is not set
# CONFIG_AD100_MIPI_JD9165 is not set
# CONFIG_AD100_TFT_ILI6122_JH050 is not set
# CONFIG_AD100_MIPI_JD9365_M101 is not set
# CONFIG_AD100_MIPI_JD9365_L050 is not set
# CONFIG_AD100_MIPI_LD047RF1L01 is not set
# CONFIG_AD100_MIPI_QM047KS01 is not set
# CONFIG_AD100_MIPI_QM047KS02 is not set
# CONFIG_AD100_MIPI_ST7283 is not set
# CONFIG_AD100_TFT_NV3074E_8BIT is not set
# CONFIG_AD100_MIPI_GC9503V_TB045 is not set
# CONFIG_AD100_MIPI_ST7701S_TB039 is not set
# CONFIG_AD100_MIPI_ST7701S is not set
# CONFIG_AD100_MIPI_ST7701S_FRD450 is not set
# CONFIG_AD100_MIPI_ST7701S_ZX is not set
# CONFIG_AD100_MIPI_ST7701S_TL021 is not set
# CONFIG_AD100_MIPI_FL7703_TL040 is not set
# CONFIG_AD100_MIPI_FL7703N is not set
# CONFIG_AD100_MIPI_ST7701S_SY is not set
# CONFIG_AD100_MIPI_ST7797 is not set
# CONFIG_AD100_MIPI_ST7701S_TL028 is not set
# CONFIG_AD100_TFT_ST7701S_50H9005 is not set
# CONFIG_AD100_SLCD_ST7789V_3LINE_SPI is not set
# CONFIG_AD100_MIPI_ST7701_B041 is not set
# CONFIG_AD100_MIPI_GC9503_HL062 is not set
# CONFIG_AD100_MIPI_TP0P219 is not set
# CONFIG_AD100_MIPI_BH065 is not set
# CONFIG_GPIO_BACKLIGHT is not set
# CONFIG_PWM_BACKLIGHT is not set
# CONFIG_GPIO_KEYBOARD is not set
# CONFIG_ADD_GPIO_KEYBOARD1 is not set
# CONFIG_ADD_GPIO_KEYBOARD2 is not set
# CONFIG_ADD_GPIO_KEYBOARD3 is not set
# CONFIG_ADD_GPIO_KEYBOARD4 is not set
# CONFIG_ADD_GPIO_KEYBOARD5 is not set
# CONFIG_ADD_GPIO_KEYBOARD6 is not set
# CONFIG_ADD_GPIO_KEYBOARD7 is not set
# CONFIG_ADD_GPIO_KEYBOARD8 is not set
# CONFIG_ADD_GPIO_KEYBOARD9 is not set
# CONFIG_ADD_GPIO_KEYBOARD10 is not set
# CONFIG_ADD_GPIO_KEYBOARD11 is not set
# CONFIG_ADD_GPIO_KEYBOARD12 is not set
# CONFIG_ADD_GPIO_KEYBOARD13 is not set
# CONFIG_ADD_GPIO_KEYBOARD14 is not set
# CONFIG_ADD_GPIO_KEYBOARD15 is not set
# CONFIG_ADD_GPIO_KEYBOARD16 is not set
# CONFIG_ADD_GPIO_KEYBOARD_OTHER is not set
# CONFIG_ADC_KEYBOARD is not set
# CONFIG_MATRIX_KEY is not set
# CONFING_GSL1680_TOUCH is not set
# CONFING_FT6236_TOUCH is not set
# CONFIG_GT9XX_TOUCH is not set
# CONFIG_ADC_RTS_TOUCH is not set
# CONFIG_X1000_SENSOR_GC0308 is not set
# CONFIG_X1000_SENSOR_BF20A6 is not set
# CONFIG_X1000_SENSOR_GC2155 is not set
# CONFIG_X1000_SENSOR_SC031IoT is not set
# CONFIG_X1021_SENSOR_GC0328 is not set
# CONFIG_X1021_SENSOR_OV9732 is not set
# CONFIG_X1520_SENSOR_GC2145 is not set
# CONFIG_X1520_SENSOR_OV9281 is not set
# CONFIG_X1520_SENSOR_OV9732 is not set
# CONFIG_X1600_SENSOR_SC031 is not set
# CONFIG_X1600_SENSOR_SC132_MIPI is not set
# CONFIG_X1600_SENSOR_GC0328 is not set
# CONFIG_X1600_SENSOR_PAG7930 is not set
# CONFIG_X1600_SENSOR_SC035 is not set
# CONFIG_X1830_SENSOR_OV2735 is not set
# CONFIG_X1830_SENSOR_IMX307 is not set
# CONFIG_X1830_SENSOR_AR0522 is not set
# CONFIG_X1830_SENSOR_AR0230 is not set
# MD_X2000_SENSOR_SC031_MIPI is not set
# MD_X2000_SENSOR_SC035_MIPI is not set
# MD_X2000_SENSOR_SC2310_MIPI is not set
# CONFIG_X2000_SENSOR_SC2355_MIPI is not set
# MD_X2000_OV2735_SENSOR_MIPI is not set
# CONFIG_X2000_SENSOR_OV9281 is not set
# CONFIG_X2000_SENSOR_OV9284 is not set
# CONFIG_X2000_SENSOR_GC1054_DVP is not set
# CONFIG_X2000_SENSOR_GC2053 is not set
# CONFIG_X2000_SENSOR_GC2053_DVP is not set
# CONFIG_X2000_SENSOR_JZ0378 is not set
# CONFIG_X2000_SENSOR_GVM8666B is not set
# CONFIG_X2000_SENSOR_IMX335_MIPI is not set
# CONFIG_X2000_SENSOR_SC120 is not set
# CONFIG_X2600_SENSOR_SC031 is not set
# CONFIG_G32S10X_SENSOR_JXF23 is not set
# CONFIG_G32S10X_SENSOR_SC031_DVP is not set
# CONFIG_G32S10X_SENSOR_SC035_DVP is not set
# CONFIG_G32S10X_SENSOR_SC035_MIPI is not set
# CONFIG_G32S10X_SENSOR_SC200AI_MIPI is not set
# CONFIG_G32S10X_SENSOR_GC0308_DVP is not set
# CONFIG_G32S10X_SENSOR_GC0328_DVP is not set
# CONFIG_G32S10X_SENSOR_SC132_MIPI is not set
# CONFIG_G32S10X_SENSOR_LG1322_MIPI is not set
# CONFIG_T32_SENSOR_GC0328 is not set
# CONFIG_CODEC_AK4951 is not set
# CONFIG_CODEC_ES8389 is not set
# CONFIG_CODEC_ES8311 is not set
# CONFIG_CODEC_FPGA_INNER is not set
# CONFIG_EMMC_DEVICE is not set
# CONFIG_RAMDISK_DEVICE is not set
# CONFIG_GPIO_REGULATOR is not set
CONFIG_DEVICES_WIRELESS:=y
# CONFIG_WIRELESS_INFINEON_CYWWHD is not set
CONFIG_WIRELESS_ATBM=y
CONFIG_WIRELESS_ATBM_BUSNUM=1
CONFIG_WIRELESS_ATBM_DEVICE=0x6132
CONFIG_WIRELESS_ATBM_BT_WIFI_POWER=GPIO_PB(19),0
CONFIG_WIRELESS_ATBM_WLAN_REG_ON=GPIO_PC(12),1
CONFIG_WIRELESS_ATBM_WLAN_WAKE_HOST=-1
CONFIG_WIRELESS_ATBM_IRQ=0x1
CONFIG_WIRELESS_ATBM_IRQ_GPIO=GPIO_PB(20)
# CONFIG_WIRELESS_FSC_DEVICE is not set
CONFIG_OS=y
CONFIG_OS_FREERTOS=y
# CONFIG_OS_FREERTOS_HEAP_4_ENABLE is not set
# CONFIG_OS_ITOS is not set
# CONFIG_OS_POSIX is not set
# CONFIG_OS_MODULE is not set
CONFIG_NEWLIB=y
CONFIG_SYMBOLS:=y
CONFIG_FUNC_SYMBOLS:=y
# CONFIG_DFS is not set
# CONFIG_CONN_FS is not set
# CONFIG_SHELL is not set
CONFIG_NET=y
CONFIG_NET_LWIP=y
# CONFIG_NET_LWIP_IPV6 is not set
# CONFIG_NET_LWIP_APPS is not set
CONFIG_NET_MANAGE=y
CONFIG_APPLICATION:=y
CONFIG_APPLICATION_TIRTC_WIFI_LINK=y
# CONFIG_LIBSTDCPP is not set
# CONFIG_LIBCXX is not set
# CONFIG_LIBCXX_RTTI is not set
# CONFIG_LIBMAD is not set
# CONFIG_LIBSAMPLERATE is not set
# CONFIG_AF_RESAMPLE is not set
# CONFIG_AWTK is not set
# CONFIG_MEMTESTER is not set
# CONFIG_LIBJPEG is not set
# CONFIG_JPEG_TURBO is not set
# CONFIG_JPEG_TINY is not set
# CONFIG_LIBFACEDET is not set
# CONFIG_LIBIAAC is not set
# CONFIG_LIBGOODIXTOF is not set
# CONFIG_ZLIB is not set
# CONFIG_LRZSZ is not set
# CONFIG_LVGL is not set
# CONFIG_LZMA is not set
# CONFIG_VOXA is not set
# CONFIG_NOTCH_FILTER is not set
# CONFIG_CJSON is not set
# CONFIG_ALG_IVS is not set
# CONFIG_TC_IOT is not set
# CONFIG_OPUS is not set
CONFIG_MBEDTLS=y
# CONFIG_ALIYUN is not set
# CONFIG_MICROPYTHON is not set
