CONFIG_SPL_BIN_FILE=riscv1/soc_g32s10x/spl/W958D6N/g32s10-spl-sfcnand-840M-250M-uart0-without-L2CACHE.bin
# CONFIG_COMPRESS_RTOS_BIN is not set
CROSS=riscv32-unknown-elf-
CONFIG_OS_MEM_ADDR=0x80000000
CONFIG_OS_MEM_SIZE=33554432
CONFIG_OS_EXCEPTION_SECTION_SIZE=1024
CONFIG_OS_MAIN_STACK_SIZE=16384
CONFIG_OS_EXCEPTION_STACK_SIZE=2048
# CONFIG_JTAG_DEBUG is not set
CONFIG_SHOW_COMPILE_TIME=y
# CONFIG_KERNEL_WAIT_RTOS_STOP is not set
# CONFIG_OS_HAS_CPP_SUPPORT is not set
CONFIG_OS_GCC_OPTIMIZATION=-Os
# CONFIG_OS_GCC_IGNORE_DIV_ZERO_EXCEPTION is not set
# CONFIG_FPU_ALWAYS_ON is not set
# CONFIG_SIMD_SUPPORT is not set
# CONFIG_SIMD_ALWAYS_ON is not set
# CONFIG_ENABLE_NESTED_IRQ is not set
# CONFIG_TCSM_SECTION is not set
# CONFIG_RUN_ON_FPGA is not set
# CONFIG_MIPS32 is not set
# CONFIG_XBURST is not set
# CONFIG_XBURST2 is not set
CONFIG_RISCV1=y
CONFIG_RISCV1_G32S10X=y
CONFIG_SOC_G32S10X_S:=y
CONFIG_SOC_G32S10X:=y
CONFIG_SOC_G32S10X_G32S10X:=y
CONFIG_G32S10X_UART=y
# CONFIG_G32S10X_UART0 is not set
CONFIG_G32S10X_UART1=y
CONFIG_G32S10X_UART1_RX=GPIO_PD(3),GPIO_FUNC_2
CONFIG_G32S10X_UART1_TX=GPIO_PD(2),GPIO_FUNC_2
CONFIG_G32S10X_UART1_CTS=-1
CONFIG_G32S10X_UART1_RTS=-1
# CONFIG_G32S10X_UART2 is not set
# CONFIG_G32S10X_UART3 is not set
# CONFIG_G32S10X_UART4 is not set
# CONFIG_G32S10X_UART5 is not set
# CONFIG_G32S10X_UART6 is not set
# CONFIG_G32S10X_UART7 is not set
# CONFIG_G32S10X_SPI is not set
CONFIG_G32S10X_TNPU=y
CONFIG_G32S10X_I2C=y
CONFIG_G32S10X_I2C0_BUS=y
CONFIG_G32S10X_I2C0_PD_4_5=y
CONFIG_G32S10X_I2C0_RATE=100000
CONFIG_G32S10X_I2C1_BUS=y
CONFIG_G32S10X_I2C1_PB_12_13=y
# CONFIG_G32S10X_I2C1_PB_22_23 is not set
CONFIG_G32S10X_I2C1_RATE=100000
# CONFIG_G32S10X_I2C2_BUS is not set
CONFIG_G32S10X_PWM=y
# CONFIG_G32S10X_TCU is not set
CONFIG_G32S10X_ADC=y
CONFIG_G32S10X_ADC_BASE=y
# CONFIG_G32S10X_ADC_ADVANCE is not set
# CONFIG_G32S10X_MAC is not set
CONFIG_G32S10X_ROTATOR=y
CONFIG_G32S10X_DTRNG=y
# CONFIG_G32S10X_HASH is not set
# CONFIG_G32S10X_RSA is not set
CONFIG_G32S10X_MSC0_BUS=y
# CONFIG_G32S10X_MSC0_PB_4BIT is not set
CONFIG_G32S10X_MSC0_PC_4BIT=y
CONFIG_G32S10X_MSC0_MAX_FREQ=50000000
# CONFIG_G32S10X_MSC1_BUS is not set
# CONFIG_G32S10X_SSLV is not set
CONFIG_G32S10X_AIC=y
# CONFIG_G32S10X_ICODEC is not set
CONFIG_G32S10X_PWM_AUDIO=y
CONFIG_G32S10X_PWM_AUDIO_POWER_EN=-1
# CONFIG_G32S10X_BUS_MONITOR is not set
CONFIG_G32S10X_CAMERA=y
# CONFIG_G32S10X_CIM0 is not set
CONFIG_G32S10X_CIM1=y
CONFIG_SOC_G32S10X_CIM1_MCLK=GPIO_PA(8)
CONFIG_SOC_G32S10X_CIM1_FRAME_NUMS=2
CONFIG_G32S10X_LCD=y
CONFIG_G32S10X_LCD_PAN_DISPLAY_SYNC=y
# CONFIG_G32S10X_FB_LIMIT_DMA_BURST_LEN is not set
CONFIG_G32S10X_FB_MIPI_CMD_WAITTIME_US=1000
# CONFIG_G32S10X_FB_CFG_MIPI_SWAP is not set
CONFIG_G32S10X_LCD_FB0_FRM_CNT=2
CONFIG_G32S10X_LCD_FB0_NAME="fb0"
# CONFIG_G32S10X_LCD_FB0_USER_ENABLE is not set
CONFIG_G32S10X_JPEG=y
# CONFIG_G32S10X_MSCALER is not set
CONFIG_G32S10X_IPU=y
CONFIG_G32S10X_RTC=y
# CONFIG_G32S10X_CAN is not set
CONFIG_G32S10X_WDT=y
# CONFIG_G32S10X_TPC is not set
# CONFIG_G32S10X_AES is not set
CONFIG_G32S10X_RISCV=y
CONFIG_USB_FIFO_1808=y
CONFIG_TO_BE_CHANGE=y
CONFIG_EXTAL_CLOCK=24000000
CONFIG_RISCV1_CACHE=y
CONFIG_RISCV1_GPIO=y
CONFIG_RISCV1_IRQ=y
CONFIG_RISCV1_DMA=y
CONFIG_RISCV1_CLK=y
CONFIG_RISCV1_SYSTICK=y
CONFIG_RISCV1_FPU=y
CONFIG_RISCV1_AIE_VECTOR_BITS=128
CONFIG_RISCV1_AIE_VECTOR=y
CONFIG_LIB=y
CONFIG_LIB_ASSERT=y
# CONFIG_ASSERT_WITH_NO_FILENAME is not set
CONFIG_LIB_DEALY=y
CONFIG_LIB_RTC=y
CONFIG_LIB_STRING=y
CONFIG_LIB_DUMP_MEM=y
CONFIG_LIB_XFORMAT:=y
CONFIG_LIB_XFORMAT_PRINTF=y
CONFIG_LIB_RING_BUFFER:=y
CONFIG_DUMP_STACK=y
# CONFIG_LIB_SORT is not set
# CONFIG_IMG_CONVERT is not set
CONFIG_RING_MEM:=y
# CONFIG_LIB_NALU is not set
# CONFIG_UBOOT_LIB is not set
CONFIG_LIB_CRC32:=y
# CONFIG_LIB_NV12_ROTATE is not set
CONFIG_LIB_VAD=y
CONFIG_LIB_CFG=y
CONFIG_LIB_TIME_STATS=y
CONFIG_LIB_MEM_MGMT=y
CONFIG_DRIVERS=y
CONFIG_IRQ:=y
CONFIG_CACHE:=y
# CONFIG_SPINLOCK is not set
CONFIG_CLK:=y
CONFIG_SYSTICK:=y
CONFIG_GPIO:=y
CONFIG_REGULATOR:=y
CONFIG_UART:=y
# CONFIG_PM is not set
CONFIG_ROTATOR:=y
CONFIG_FB:=y
CONFIG_DMA:=y
# CONFIG_SPI is not set
CONFIG_TNPU:=y
# CONFIG_SSLV is not set
CONFIG_I2C:=y
CONFIG_MMC:=y
CONFIG_RAMDISK:=y
CONFIG_PCM:=y
CONFIG_ADC:=y
# CONFIG_ADC_ADVANCE is not set
# CONFIG_TPC is not set
# CONFIG_AES is not set
# CONFIG_SECURITY_AES is not set
CONFIG_PWM:=y
# CONFIG_EFUSE is not set
# CONFIG_EFUSE_MODE_HAMMING is not set
# CONFIG_EFUSE_MODE_NONE is not set
CONFIG_WDT:=y
CONFIG_RTC:=y
CONFIG_DTRNG:=y
# CONFIG_HASH is not set
# CONFIG_RSA is not set
# CONFIG_BUS_MONITOR is not set
# CONFIG_DES is not set
# CONFIG_MAC is not set
# CONFIG_CAN is not set
CONFIG_CAMERA:=y
CONFIG_CIM_AE:=y
CONFIG_JPEG:=y
# CONFIG_ISP is not set
CONFIG_BACKLIGHT:=y
CONFIG_MCU:=y
# CONFIG_MSCALER is not set
# CONFIG_CONN is not set
# CONFIG_SCBOOT is not set
CONFIG_INPUT:=y
CONFIG_HRTIMER=y
# CONFIG_TCU is not set
CONFIG_IPU:=y
CONFIG_LCD_GPIO=y
# CONFIG_GPIO_SPI is not set
# CONFIG_GPIO_I2C is not set
CONFIG_USB_DRIVER=y
# CONFIG_USB_IS_DEVICE is not set
CONFIG_USB_IS_HOST:=y
CONFIG_USB0=y
# CONFIG_USB_PERIPHERAL is not set
CONFIG_USB_HOST=y
# CONFIG_USB_DUAL_ROLE is not set
# CONFIG_USB_DISABLE_VBUS is not set
# CONFIG_USB_FORCE_FULL_SPEED is not set
CONFIG_USB_HOST_VBUS_POWER_PIN=-1,0
# CONFIG_USB1 is not set
# CONFIG_USB_IRQ_THREAD_MODE is not set
CONFIG_USB_HOST_HID_MOUSE=y
# CONFIG_USB_HOST_HID_KEYBOARD is not set
# CONFIG_USB_HOST_HID_VENDOR is not set
# CONFIG_USB_HOST_CDC_ACM is not set
# CONFIG_USB_HOST_CH341 is not set
# CONFIG_USB_HOST_UVC is not set
# CONFIG_USB_HOST_MASS_STORAGE is not set
CONFIG_SFC=y
# CONFIG_SFC_NOR is not set
CONFIG_SFC_NAND=y
CONFIG_SFC_RATE=100000000
# CONFIG_SFC_NAND_JUMP_CHECK_BADBLOCK is not set
# CONFIG_RTOS_OTA_UPDATE is not set
CONFIG_RTOS_LOCAL_UPDATE:=y
CONFIG_CONSOLE=y
CONFIG_CONSOLE_USE_UART=y
CONFIG_UART_CONSOLE:=y
CONFIG_UART_CONSOLE_UART_ID=1
CONFIG_UART_CONSOLE_BAUD_RATE=750000
# CONFIG_UART_CONSOLE_RX_MODE_POLL is not set
CONFIG_GPIO_PIN=y
CONFIG_DMACPY=y
CONFIG_DMA_CHANNEL_NUM=4
CONFIG_DEVICES=y
# CONFIG_X1000_SLCD_ST7789V is not set
# CONFIG_X1000_SLCD_TRULY240240 is not set
# CONFIG_X1830_TFT_ST7701 is not set
# CONFIG_X1830_SLCD_KWH035 is not set
# CONFIG_X1830_SLCD_ST7789 is not set
# CONFIG_X1021_SLCD_KWH035 is not set
# CONFIG_X2000_MIPI_KD070D57 is not set
# CONFIG_X2000_SLCD_KWH035 is not set
# CONFIG_X2000_MIPI_FW050 is not set
# CONFIG_X2000_SLCD_JD9851 is not set
# CONFIG_X2000_MIPI_OTM8018B is not set
# CONFIG_X2000_TFT_ST7789V2 is not set
# CONFIG_X1600_SLCD_KWH035 is not set
# CONFIG_X1600_TFT_ST7701 is not set
# CONFIG_X1600_SLCD_ST7789V_4LINE_SPI is not set
# CONFIG_X1600_TFT_ST77903_8BIT is not set
# CONFIG_X2600_MIPI_FW050 is not set
# CONFIG_X2600_LVDS_KX070 is not set
# CONFIG_X2600_LVDS_QM101 is not set
# CONFIG_X2600_SLCD_ST7789V_4LINE_SPI is not set
# CONFIG_X2600_SLCD_ST7789V_3LINE_SPI is not set
# CONFIG_X2600_MIPI_YC101 is not set
# CONFIG_X2600_MIPI_ILI9881C_FW101 is not set
# CONFIG_X2600_MIPI_GM8775C is not set
# CONFIG_X2600_TFT_SAT101 is not set
# CONFIG_X2600_TFT_NV3047_EP4303 is not set
CONFIG_G32S10X_SLCD_KWH035=y
CONFIG_G32S10X_KWH035_USE_TE=y
CONFIG_G32S10X_KWH035_CS=GPIO_PA(24),0
CONFIG_G32S10X_KWH035_RD=-1,0
CONFIG_G32S10X_KWH035_RST=GPIO_PC(19),0
CONFIG_G32S10X_KWH035_POWER_EN=GPIO_PC(21),1
# CONFIG_G32S10X_KWH035_16BIT_DATA_WIDTH is not set
# CONFIG_G32S10X_TFT_JD9165 is not set
# CONFIG_G32S10X_MIPI_FW050 is not set
# CONFIG_G32S10X_MIPI_MTF070 is not set
# CONFIG_T32_SLCD_KWH035 is not set
# CONFIG_AD100_MIPI_B203A is not set
# CONFIG_AD100_MIPI_FW050 is not set
# CONFIG_AD100_MIPI_ILI9881C_FW101 is not set
# CONFIG_AD100_MIPI_HJ050 is not set
# CONFIG_AD100_MIPI_YC101 is not set
# CONFIG_AD100_MIPI_JD9165 is not set
# CONFIG_AD100_TFT_ILI6122_JH050 is not set
# CONFIG_AD100_MIPI_JD9365_M101 is not set
# CONFIG_AD100_MIPI_JD9365_L050 is not set
# CONFIG_AD100_MIPI_LD047RF1L01 is not set
# CONFIG_AD100_MIPI_QM047KS01 is not set
# CONFIG_AD100_MIPI_QM047KS02 is not set
# CONFIG_AD100_MIPI_ST7283 is not set
# CONFIG_AD100_TFT_NV3074E_8BIT is not set
# CONFIG_AD100_MIPI_GC9503V_TB045 is not set
# CONFIG_AD100_MIPI_ST7701S_TB039 is not set
# CONFIG_AD100_MIPI_ST7701S is not set
# CONFIG_AD100_MIPI_ST7701S_FRD450 is not set
# CONFIG_AD100_MIPI_ST7701S_ZX is not set
# CONFIG_AD100_MIPI_ST7701S_TL021 is not set
# CONFIG_AD100_MIPI_FL7703_TL040 is not set
# CONFIG_AD100_MIPI_FL7703N is not set
# CONFIG_AD100_MIPI_ST7701S_SY is not set
# CONFIG_AD100_MIPI_ST7797 is not set
# CONFIG_AD100_MIPI_ST7701S_TL028 is not set
# CONFIG_AD100_TFT_ST7701S_50H9005 is not set
# CONFIG_AD100_SLCD_ST7789V_3LINE_SPI is not set
# CONFIG_AD100_MIPI_ST7701_B041 is not set
# CONFIG_AD100_MIPI_GC9503_HL062 is not set
# CONFIG_AD100_MIPI_TP0P219 is not set
# CONFIG_AD100_MIPI_BH065 is not set
CONFIG_GPIO_BACKLIGHT=y
CONFIG_GPIO_BACKLIGHT0=y
CONFIG_GPIO_BACKLIGHT0_GPIO=GPIO_PC(20),1
CONFIG_GPIO_BACKLIGHT0_NAME="backlight_gpio0"
# CONFIG_GPIO_BACKLIGHT1 is not set
# CONFIG_GPIO_BACKLIGHT2 is not set
# CONFIG_PWM_BACKLIGHT is not set
# CONFIG_GPIO_KEYBOARD is not set
CONFIG_ADC_KEYBOARD=y
CONFIG_ADC_DEVIATION=10
CONFIG_ADC_KEY_CHANNEL=0
CONFIG_ADC_KEY_DEV_NAME="adc_keyboard"
CONFIG_ADC_KEY_MAX_EVENT_COUNT=64
CONFIG_ADC_KEY_IRQ_GPIO=-1
CONFIG_DEBOUNCE_TIME=10
# CONFIG_ADC_KEY1 is not set
# CONFIG_ADC_KEY2 is not set
# CONFIG_ADC_KEY3 is not set
# CONFIG_ADC_KEY4 is not set
# CONFIG_ADC_KEY5 is not set
# CONFIG_ADC_KEY6 is not set
# CONFIG_ADD_ADC_KEY is not set
# CONFIG_MATRIX_KEY is not set
# CONFING_GSL1680_TOUCH is not set
# CONFING_FT6236_TOUCH is not set
# CONFIG_GT9XX_TOUCH is not set
# CONFIG_ADC_RTS_TOUCH is not set
# CONFIG_X1000_SENSOR_GC0308 is not set
# CONFIG_X1000_SENSOR_BF20A6 is not set
# CONFIG_X1000_SENSOR_GC2155 is not set
# CONFIG_X1000_SENSOR_SC031IoT is not set
# CONFIG_X1021_SENSOR_GC0328 is not set
# CONFIG_X1021_SENSOR_OV9732 is not set
# CONFIG_X1520_SENSOR_GC2145 is not set
# CONFIG_X1520_SENSOR_OV9281 is not set
# CONFIG_X1520_SENSOR_OV9732 is not set
# CONFIG_X1600_SENSOR_SC031 is not set
# CONFIG_X1600_SENSOR_SC132_MIPI is not set
# CONFIG_X1600_SENSOR_GC0328 is not set
# CONFIG_X1600_SENSOR_PAG7930 is not set
# CONFIG_X1600_SENSOR_SC035 is not set
# CONFIG_X1830_SENSOR_OV2735 is not set
# CONFIG_X1830_SENSOR_IMX307 is not set
# CONFIG_X1830_SENSOR_AR0522 is not set
# CONFIG_X1830_SENSOR_AR0230 is not set
# MD_X2000_SENSOR_SC031_MIPI is not set
# MD_X2000_SENSOR_SC035_MIPI is not set
# MD_X2000_SENSOR_SC2310_MIPI is not set
# CONFIG_X2000_SENSOR_SC2355_MIPI is not set
# MD_X2000_OV2735_SENSOR_MIPI is not set
# CONFIG_X2000_SENSOR_OV9281 is not set
# CONFIG_X2000_SENSOR_OV9284 is not set
# CONFIG_X2000_SENSOR_GC1054_DVP is not set
# CONFIG_X2000_SENSOR_GC2053 is not set
# CONFIG_X2000_SENSOR_GC2053_DVP is not set
# CONFIG_X2000_SENSOR_JZ0378 is not set
# CONFIG_X2000_SENSOR_GVM8666B is not set
# CONFIG_X2000_SENSOR_IMX335_MIPI is not set
# CONFIG_X2000_SENSOR_SC120 is not set
# CONFIG_X2600_SENSOR_SC031 is not set
# CONFIG_G32S10X_SENSOR_JXF23 is not set
# CONFIG_G32S10X_SENSOR_SC031_DVP is not set
# CONFIG_G32S10X_SENSOR_SC035_MIPI is not set
# CONFIG_G32S10X_SENSOR_SC200AI_MIPI is not set
CONFIG_G32S10X_SENSOR_GC0308_DVP=y
CONFIG_G32S10X_GC0308_DVP_CIM_ID=1
CONFIG_G32S10X_GC0308_DVP_GPIO_RESET=GPIO_PC(17)
CONFIG_G32S10X_GC0308_DVP_GPIO_PWDN=GPIO_PC(18)
CONFIG_G32S10X_GC0308_DVP_GPIO_POWER=GPIO_PC(16)
CONFIG_G32S10X_GC0308_DVP_I2C_BUSNUM=0
# CONFIG_G32S10X_SENSOR_GC0328_DVP is not set
# CONFIG_T32_SENSOR_GC0328 is not set
# CONFIG_CODEC_AK4951 is not set
# CONFIG_CODEC_ES8389 is not set
CONFIG_CODEC_ES8311=y
CONFIG_ES8311_I2C_BUSNUM=1
CONFIG_ES8311_GPIO_PWDN=GPIO_PC(16)
CONFIG_ES8311_GPIO_SPEAKER_POWER=GPIO_PC(26)
CONFIG_ES8311_PLAYBACK_MAX_GAIN=0xFF
CONFIG_ES8311_PLAYBACK_MIN_GAIN=0x00
CONFIG_ES8311_CAPTURE_MAX_GAIN=0xFF
CONFIG_ES8311_CAPTURE_MIN_GAIN=0x00
# CONFIG_CODEC_FPGA_INNER is not set
CONFIG_EMMC_DEVICE=y
CONFIG_EMMC_DEVICE_BUSNUM=0
CONFIG_EMMC_DEVICE_BUSWIDTH=4
CONFIG_EMMC_DEVICE_GPIO_RESET=-1,0
CONFIG_EMMC_DEVICE_GPIO_POWER=-1,0
CONFIG_EMMC_DEVICE_GPIO_DETECT=-1,0
CONFIG_EMMC_DEVICE_GPIO_SW_1V8=-1,0
CONFIG_EMMC_DEVICE_REMOVABLE_TYPE=1
CONFIG_RAMDISK_DEVICE=y
CONFIG_RAMDISK_DEVICE_ALLOC=y
# CONFIG_RAMDISK_DEVICE_MAPPED_PRE_LOAD is not set
CONFIG_RAMDISK_DEVICE_SIZE=589824
CONFIG_GPIO_REGULATOR=y
CONFIG_GPIO_REGULATOR0=y
CONFIG_GPIO_REGULATOR0_GPIO=-1,0
CONFIG_GPIO_REGULATOR0_NAME="regulator_gpio0"
# CONFIG_GPIO_REGULATOR1 is not set
# CONFIG_GPIO_REGULATOR2 is not set
CONFIG_DEVICES_WIRELESS:=y
# CONFIG_WIRELESS_INFINEON_CYWWHD is not set
CONFIG_WIRELESS_ATBM=y
CONFIG_WIRELESS_ATBM_BUSNUM=1
CONFIG_WIRELESS_ATBM_DEVICE=0x6132
CONFIG_WIRELESS_ATBM_BT_WIFI_POWER=-1,0
CONFIG_WIRELESS_ATBM_WLAN_REG_ON=GPIO_PC(9),1
CONFIG_WIRELESS_ATBM_WLAN_WAKE_HOST=-1,0
CONFIG_WIRELESS_ATBM_IRQ=0x1
CONFIG_WIRELESS_ATBM_IRQ_GPIO=GPIO_PC(8)
CONFIG_OS=y
CONFIG_OS_FREERTOS=y
# CONFIG_OS_ITOS is not set
CONFIG_OS_POSIX=y
CONFIG_OS_POSIX_PTHREAD=y
CONFIG_OS_POSIX_PTHREAD_MUTEX=y
CONFIG_OS_POSIX_PTHREAD_COND=y
CONFIG_OS_POSIX_PTHREAD_BARRIER=y
CONFIG_OS_POSIX_SEM=y
CONFIG_OS_POSIX_MQEUEUE=y
CONFIG_OS_POSIX_TIMER=y
CONFIG_OS_POSIX_CLOCK=y
CONFIG_OS_POSIX_SCHED=y
# CONFIG_OS_MODULE is not set
CONFIG_NEWLIB=y
CONFIG_SYMBOLS=y
CONFIG_FUNC_SYMBOLS=y
CONFIG_DFS=y
CONFIG_DFS_ELMFAT=y
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION0 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION1 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION2 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION3 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION4 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION5 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION6 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION7 is not set
CONFIG_DFS_YAFFS=y
CONFIG_DFS_YAFFS_MOUNT_PARTITION0=y
CONFIG_DFS_YAFFS_MOUNT_PARTITION0_NAME="data"
CONFIG_DFS_YAFFS_MOUNT_PARTITION1=y
CONFIG_DFS_YAFFS_MOUNT_PARTITION1_NAME="fs"
# CONFIG_DFS_YAFFS_MOUNT_PARTITION2 is not set
# CONFIG_DFS_YAFFS_MOUNT_PARTITION3 is not set
# CONFIG_DFS_YAFFS_MOUNT_PARTITION4 is not set
# CONFIG_DFS_YAFFS_MOUNT_PARTITION5 is not set
# CONFIG_DFS_YAFFS_MOUNT_PARTITION6 is not set
# CONFIG_DFS_YAFFS_MOUNT_PARTITION7 is not set
CONFIG_DFS_YAFFS_UTILS=y
# CONFIG_DFS_DEBUGFS is not set
CONFIG_DFS_HOTPLUG=y
# CONFIG_CONN_FS is not set
CONFIG_SHELL=y
CONFIG_NET=y
CONFIG_NET_LWIP=y
# CONFIG_NET_LWIP_IPV6 is not set
# CONFIG_NET_LWIP_APPS is not set
CONFIG_NET_MANAGE:=y
CONFIG_APPLICATION:=y
# CONFIG_APPLICATION_LOAD_KERNEL is not set
CONFIG_APPLICATION_LAUNCHER=y
CONFIG_APPLICATION_HOME=y
CONFIG_APPLICATION_IVS_FACE=y
# CONFIG_APPLICATION_MULTI_OBJ_DET is not set
# CONFIG_APPLICATION_SCANCODE is not set
CONFIG_APPLICATION_AUDIO=y
# CONFIG_APPLICATION_ALIYUN is not set
CONFIG_APPLICATION_TIRTC_DEMO=y
# CONFIG_APPLICATION_TIRTC_SCREEN_DEBUG is not set
CONFIG_APPLICATION_SETTING=y
CONFIG_APPLICATION_SETTING_PAGE=y
CONFIG_APPLICATION_LANGUAGE=y
# CONFIG_APPLICATION_LANGUAGE_EN is not set
CONFIG_APPLICATION_LANGUAGE_ZH=y
CONFIG_APPLICATION_STATUS_BAR=y
CONFIG_APPLICATION_SERVICES=y
CONFIG_APPLICATION_SERVICES_VIDEO=y
CONFIG_APPLICATION_SERVICES_AUDIO=y
CONFIG_APPLICATION_SERVICES_AUDIO_PLAYER=y
CONFIG_APPLICATION_SERVICES_AUDIO_CAP=y
CONFIG_APPLICATION_SERVICES_HMI=y
CONFIG_APPLICATION_SERVICES_TIME=y
CONFIG_APPLICATION_SERVICES_DMA=y
CONFIG_APPLICATION_SERVICES_SYSTEM=y
CONFIG_APPLICATION_SERVICES_JPEG=y
CONFIG_APPLICATION_SERVICES_JPEG_CAP=y
CONFIG_APPLICATION_SERVICES_JPEG_TO_NV12=y
CONFIG_APPLICATION_SERVICES_NET=y
CONFIG_APPLICATION_SERVICES_NET_WIRELESS=y
CONFIG_APPLICATION_SERVICES_SAVE_PIC=y
CONFIG_APPLICATION_SERVICES_UPGRADE=y
# CONFIG_LIBSTDCPP is not set
# CONFIG_LIBCXX is not set
# CONFIG_LIBCXX_RTTI is not set
CONFIG_LIBMAD=y
# CONFIG_LIBSAMPLERATE is not set
# CONFIG_AF_RESAMPLE is not set
# CONFIG_AWTK is not set
# CONFIG_MEMTESTER is not set
# CONFIG_LIBJPEG is not set
CONFIG_JPEG_TURBO=y
# CONFIG_JPEG_TINY is not set
# CONFIG_LIBFACEDET is not set
# CONFIG_LIBIAAC is not set
# CONFIG_LIBGOODIXTOF is not set
# CONFIG_ZLIB is not set
# CONFIG_LRZSZ is not set
CONFIG_LVGL=y
CONFIG_VOXA=y
# CONFIG_LZMA is not set
# CONFIG_NOTCH_FILTER is not set
CONFIG_CJSON=y
CONFIG_ALG_IVS=y
CONFIG_ALG_IVS_BASE=y
CONFIG_ALG_IVS_KWS=y
CONFIG_ALG_IVS_FACE=y
# CONFIG_TC_IOT is not set
CONFIG_OPUS=y
CONFIG_MBEDTLS=y
# CONFIG_ALIYUN is not set
CONFIG_TIRTC=y
